@import url(https://fonts.googleapis.com/css?family=Signika);

body {
	background-image: url("../img/background_still.jpg");
	background-size: cover;
}

#homepage .left a,
#homepage .right a {
	color: white;
}

.toolapplyBorderLeft {
	border-left: solid 2px white; 
}

.logo {
	padding-top: 20%;
	width: 500px;
	margin-left: 35%;
	text-align: center;
}

img.button {
	width: 80%;
	padding: 0px;
	margin: 0px;
}

.container { 
	position:relative; 
	padding: 0px;
	text-align: center;
	width: 100%;
}

@media only screen and (max-width: 800px) {
	body {
		background-image: url("../img/background_still.jpg");
		background-size: cover;
		width: 400px;
		height: 1000px;
	}	
}