@import url(https://fonts.googleapis.com/css?family=Signika);


/* Banner */

/* Search Bar */
.searchbar {
	padding-top: 20px;
/*	background-color: red;*/
	font-size: 30px;
	text-align: center;
}

#bar {
	width: 800px;
	height: 30px;
	background-color: #E6E6E6;
	font-family: futura;
	font-size: 20px;
	border: 1px solid transparent;
	text-indent: 10px;
}

input[type=submit] {
	background:url("searchbaricon.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    color: transparent;
    height: 22px;
    position: absolute;
    margin-left: -35px;
    margin-top: 12px;
}


/* Bulk */
.marketplace {
	/*background-color: orange;*/
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.bookinfo {
	display:inline-block;
	width: 800px;
}

.bookinfo li {
    margin-top: 8px;
    background-color: #FCDE60;
    height: 40px;
    line-height: 40px;
    list-style-type: none;
    text-align: left;
    padding-left: 10px; 
}

.info {
	margin: 2px;
	text-align: left;
}

.author {
	/*margin: 0px;
	text-align: left;*/
}

.vol {
	/*margin: 0px;
	text-align: left;*/
}

.edition {
/*	margin: 0px;
	text-align: left;*/
}

.classname {
/*	margin: 0px;
	text-align: left;*/
}

.coursenum {
/*	margin: 0px;
	text-align: left;*/
}

.prof {
/*	margin: 0px;
	text-align: left;*/
}

.seller_name {
/*	margin: 0px;
	text-align: left;*/
}

.condition {
/*	margin: 0px;
	text-align: left;*/
}

.hide {
	background-color: #F2EEDD;
	height: 150px;
	padding-bottom: 20px;
}

