/* contact page */
@import url(https://fonts.googleapis.com/css?family=Signika);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);

.banner-background {
	background-color: #606466;
	width: 100%;
	height: 200px;
	margin: 0px;
}

.banner-words {
	padding-top: 60px;
	text-align: center;
}			

#banner-title {
	font-size: 60px;
	color: #7FA9AE;
	font-family: Signika;
}

#banner-subscript {
	font-family: Signika;
	font-size: 20px;
	color: white;
}
/* title page */

#email {
	font-family: Futura;
	background-color: #bfd3df;
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
	color: #606466;
}

#form {
	padding-top: 15px;
	background-color: white;
	display: block;
	text-align: center;

}

#email-form {
	background-color: #bfd3df;
	font-family: Futura;
	display: inline-block;
	text-align: left;
}

