@import url(https://fonts.googleapis.com/css?family=Signika);

body {
	background: url('frontpage-background.gif');
	background-size: 1500px 1200px;
	background-repeat: no-repeat;
	background-position: center;
}

.logo {
	padding-top: 20%;
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

.options {
	width: 100%;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

.options-buttons-left {
	float: left;
}

.options-buttons-right {
	float: right;
}