@import url(https://fonts.googleapis.com/css?family=Signika);

body {
	background: url('frontpage-background.gif');
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
}

/*.content {
	position: absolute;
   	top: 50%;
   	left: 50%;
   	transform: translate(-50%, -50%);
}
*/
.logo {
	padding-top: 200px;
	width: 50%;
	margin: 0 auto;
}

.options {
	width: 30%;
	display: inline-block;
	margin: 0 auto;
}

.options-buttons {
	display: inline-block;
}

/*.options {
	width: 100%;
	margin: 0 auto;
	display: inline-block;
}

.options img {
	width: 30%;
	display: inline-block;
} */