body {
	margin: 0px;
	font-family: futura;
}

/* Banner */

.banner-background {
	background-color: #606466;
	width: 100%;
	height: 200px;
	margin: 0px;
}

.banner-words {
	padding-top: 60px;
	text-align: center;
}			

#banner-title {
	font-size: 50px;
	color: #FFD91D;
	font-family: Signika;
}

#banner-subscript {
	font-size: 15px;
	color: white;
}

/* Search Bar */
.searchbar {
	padding-top: 20px;
	background-color: red;
	font-size: 30px;
	text-align: center;
}

#bar {
	width: 800px;
	height: 30px;
	background-color: #E6E6E6;
	font-family: futura;
	font-color: black;
	font-size: 20px;
	border: 1px solid transparent;
}

.search_button img {
	background-color: palegreen;
/*	margin-top: 10px;*/
	display: inline-block;
	height: 25px;
}


input[type=submit] {
	background:url("searchbaricon.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    color: transparent;
    height: 25px;
    line-height: 30px;
}


/* Bulk */

.marketplace {
	background-color: orange;
	text-align: center;
}

.bookinfo {
	display:inline-block;
	text-align: center;
	background-color: #FCDE60;
	width: 700px;
}


/*
.menu {
    width: 100%;
    color: black;
    font-size: 30px;
    padding-left: 10px;
}


a {
	display: inline-block;
	color: black;
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 40px;
    text-decoration: none;
	background-color: none;
}

h1 {
	font-family: 'Sue Ellen Francisco', cursive;
	font-size: 60px;
	text-align: center;
	margin-top: -10px;
}*/