@import url(https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco);

.menu {
    width: 100%;
    color: black;
    font-size: 30px;
    padding-left: 10px;
}

a {
	display: inline-block;
	color: black;
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 40px;
    text-decoration: none;
	background-color: none;
}

h1 {
	font-family: 'Sue Ellen Francisco', cursive;
	font-size: 60px;
	text-align: center;
	margin-top: -10px;
}

.searchbar {
	font-size: 30px;
	margin-top: -50px;
	text-align: center;
}

#bar {
	width: 700px;
	height: 30px;
	background-color: #E6E6E6;
	font-family: 'Sue Ellen Francisco', cursive;
	font-color: black;
	font-size: 20px;
	border: 1px solid transparent;
}

#button {
	vertical-align: center;
}

.search_button {
	display: inline-block;
	font-family: 'Sue Ellen Francisco', cursive;
}

.bookinfo {
	text-align: center;
	border: solid;
	width: 100%;
	width: 1000px;
	vertical-align: center;
	margin-left: 120px;
	margin-top: 20px;
}