@import url(https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco);

.content h1 {
	text-align: center;
	font-family: 'Sue Ellen Francisco', cursive;
	color:  white;
	font-size: 150px;
}

#options {
	text-align: center;
	margin-top: -80px;
}

#options a {
	border-style: solid;
    color: white;
    margin: 10px;
    font-size: 40px;
    font-family: 'Sue Ellen Francisco', cursive;
    text-decoration: none;
    padding: 10px;
}

body {
	background: url(background_home2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
