@import url(https://fonts.googleapis.com/css?family=Signika);

.menu {
	font-family: Futura;
	display: block;
    color: black;
    background-color: red;
}


.left {
	display: inline-block;
	float: left;
	padding-left: 10px;
}

.right {
	display: inline-block;
	float: right;
	padding-right: 10px;
}

.banner {
	padding-top: 30px
}

a {
	display: inline-block;
	color: #606466;
    font-size: 20px;
    text-decoration: none;
	background-color: none;
} 
