@import url(https://fonts.googleapis.com/css?family=Signika);

.menu {
	font-family: Futura;
	display: block;
    color: black;
    background-color: red;
}


.left {
/*	display: inline-block;
	text-align: left;
	background-color: yellow;*/
	float: left;

}

.right {
	float: right;
/*	display: inline-block;
	text-align: right;
	background-color:blue;*/
}

a {
	display: inline-block;
	color: #606466;
    font-size: 20px;
    text-decoration: none;
	background-color: none;
} 
